.map {
    height: 100vh;
    width: 96%;
    background-color: #fff;
    border: 1px solid rgb(174, 164, 184);
    border-radius: 20px;
    padding: 1rem;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
    height: 100%;
    border-radius: 12px;
    margin: 2px 2px;
}
.info-container {
    width: 150px;
}

.info-flag {
    height: 80px;
    width: 80%;
    background-size: cover;
    border-radius: 8px;
    background-repeat: no-repeat;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgb(240, 9, 9);
}



.info-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(122, 115, 115);
}

.info-confirmed, .info-recovered, .info-deaths , .info-active {
    font-size: 12px;
    margin-top: 5px;
}